.box {
  position: absolute;
  top: 52%;
  left: 20%;
  max-width: 476px;
  width: 100%;
  padding: 0 15px;
}

.skeleton {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton .line {
  height: 18px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.3) 8%,
    rgba(130, 130, 130, 0.4) 18%,
    rgba(130, 130, 130, 0.3) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 5s infinite ease-out;
}

.skeleton-right {
  flex: 1;
}

.skeleton-left {
  flex: 2;
  padding-right: 15px;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.w80 {
  width: 80% !important;
}

.w60 {
  width: 60% !important;
}

.w75 {
  width: 75% !important;
}

.m10 {
  margin-bottom: 10px !important;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
