.list {
  width: 100%;
  max-height: 330px;
  margin-top: 2rem;

  .todo-con {
    width: 100%;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;

    .todo-li {
      display: flex;
      background-color: hsl(235, 24%, 19%);
      padding: 1rem 0.9rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-style: italic;
      font-size: 18px;
      align-items: center;
      width: 100%;

      p {
        width: 92%;
        color: #fff;

        &.completed {
          text-decoration: line-through;
          opacity: 0.6;
        }
      }

      .check {
        width: 20px;
        height: 20px;
        border: 1px solid hsl(233, 14%, 35%);
        border-radius: 50%;
        display: grid;
        place-content: center;
        margin-right: 1rem;
        cursor: pointer;

        img {
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &.active-check img {
          opacity: 1;
        }

        &.active-check {
          background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
      }

      .close {
        background: transparent;
        border: none;
        outline: none;
        opacity: 0;
        transition: all 0.4s ease;
        cursor: pointer;
        color: #fff;
      }

      &:hover .close {
        opacity: 1;
      }
    }
  }
}

.hr {
  width: 100%;
  background: hsl(233, 14%, 35%);
  height: 0.9px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
  padding: 1rem 0.9rem;
  background: hsl(235, 24%, 19%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;

  .choice {
    display: flex;
  }

  .choice p {
    padding: 0 5px;
  }

  .info p:hover {
    color: hsl(220, 98%, 61%);
  }

  .active {
    color: hsl(220, 98%, 61%);
  }
}

.mb-5 {
  margin-top: 7px;
  margin-bottom: 7px;
}
